*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*Ter a largura da tela toda*/
    max-width: 100%;
    max-height: 100vh;
    background-color: #ABD8F4
}


header{
    background-color: #90ACDE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;
    list-style: none;
    display: flex;
}


ul{
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

a {
    color: white;
    text-decoration: none;
}


h1{
    text-align: center;
    align-items: center;
    margin: 20px;
}

/*Deixando os itens do form em coluna*/


/*Container com duas divisões*/
.container {
    display: flex;
    box-shadow: 5px 5px 10px black;
    margin: 3rem;
    
    
}


/*Box descrição do formulário*/
.container div:nth-of-type(1){
    background-color: #90ACDE;
    padding: 50px;
    color: white;
    text-align: center;
}

.form-text-body{
    display: flex;
    font-size: 20px;
    
   
}



/*Box do formulario*/
.container div:nth-of-type(2){
    background-color: #90ACDE;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    color: white;
    justify-content: space-between;
    
    
}

.form h1:nth-child(1){
    margin-bottom: 1.5rem;
}

/*Formulário*/

form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
}



input{

    background-color: white;
    border: none;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 10px;
    
    

}

select{
    background-color: white;
    border: none;
    height: 30px;
    border-radius: 30px;
    margin: 10px;

}


textarea{
    background-color: white;
    border: none;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    resize: none;

}

button{
    background-color: #A3FAED;
    border: none;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    

}

button:hover{
    transform: scale(1.05);
    
}